<% @user ||= current_user %>
<div class="desc">
  <%= t "user_infor.followed" %>
  </br>
  <strong id="following">
    <%= link_to @user.following.size, following_user_path(@user) %>
  </strong>
</div>
<div class="desc">
  <%= t "user_infor.follower" %>
  <br />
  <strong id="followers">
    <%= link_to @user.followers.size, followers_user_path(@user) %>
  </strong>
</div>
