<div class="col-md-9">
  <% @categories.each do |category| %>
    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
      <%= image_tag "s4.png", alt: t("alt") %>
      <h4><%= category.name %></h4>
      <p><%= t "index.category" %></p>
    </div>
  <% end %>
  </div>
